@import "../../app.scss";
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

.hero {
  width: 100%;
  height: calc(100vh - 60px - 1rem);
  background: $text;
  display: flex;
  &Left {
    flex: 1;
    position: relative;
    // background: blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 40%;
      position: absolute;
      top: 10%;
      left: 30%;
    }

    span {
      z-index: 95;
      color: rgb(155, 115, 121);
      font-family: "The Nautigal", cursive;
      font-size: 4rem;
      width: 80%;
    }
  }

  &Right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
  }
}

.home {
  display: flex;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    &Left {
      justify-content: center;

      img {
        // height: 90%;
        top: 10%;
      }

      span {
        font-size: 3rem;
      }
    }
    &Right {
      img {
        width: 90%;
      }
    }
  }
}
