.saved {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
  bottom: 5%;

  &Container {
    border-radius: 24px;
    border: 2px solid green;
    background: rgb(214, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;

    &.del {
      border: 2px solid #ec5d57;
    }
  }

  &Icon {
    margin-right: 0.5rem;
    fill: green !important;
    width: 1.3rem !important;
    line-height: 1.3rem;
    &.del {
      fill: #ec5d57;
    }
  }

  &Text {
    line-height: 1.3rem;
    // font-size: 12px;
    font-size: 1.1rem;
    color: green;

    &.del {
      color: #ec5d57;
    }
  }
}
